{% extends 'inventory/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card mt-5">
                    <div class="card-header bg-primary text-white">
                        <h3 class="card-title">Alerts:</h3>
                    </div>
                    <div class="card-body">
                        {% if low_inventory_items %}
                            <div class="alert alert-danger" role="alert">
                                <strong>Low Inventory Items:</strong>
                                <ul>
                                    {% for item in low_inventory_items %}
                                        <li>{{ item.name }} - Quantity: {{ item.quantity }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% else %}
                            <div class="alert alert-success" role="alert">
                                All inventory items are well stocked.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
